@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/* Feature */

	.feature {
		.image {
			width: 48%;
			float: left;
		}

		.content {
			width: 52%;
			float: left;
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}